body {
  margin: 0;
  font-family: 'Rubik',
    sans-serif;
  padding-top: 32px;
  color: #333;
}

input,
button {
  outline: none;
}

.container {
  margin: 0 auto;
  width: 1180px;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 34px;
  padding-top: 7px;
}

.logo {
  display: flex;
}

.logo p {
  margin-top: 5px;
  margin-left: 12px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

input[type='text'],
input[type='password'] {
  border: none;
  border-bottom: 1px solid #333333;
  width: 232px;
}
.search-wrapper {
  margin-left: -50px;
  display: flex;
}
.search-wrapper input {
  width: 318px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #333;
  margin-right: 15px;
  margin-top: -9px;
}

.search-btn {
  border: none;
  color: #E5261E;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  background-color: #fff;
  cursor: pointer;
  margin-left: 9px;
  margin-top: -8px;
}

.login-btn {
  background: #E5261E;
  border-radius: 4px;
  border: none;
  width: 113px;
  height: 38px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  transition: 0.15s;
  cursor: pointer;
}

.login-btn:hover {
  background: #CC221B;
}

.navbar-wrapper {
  text-align: center;
  margin-bottom: 38px;
}

.navbar-wrapper .navlink {
  text-decoration: none;
  color: #333;
  margin: 12px;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
}

.news-wrapper h2 {
  font-style: normal;
  padding-top: 3px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 18px;
}

.navbar-wrapper .selected {
  color: #E5261E;
  border-bottom: 2px #E5261E solid;
}

.films-items,
.genres-items {
  display: flex;
  justify-content: space-between;
}

.movieItem {
  position: relative;
}

.movieItem p {
  max-width: 280px;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
  margin-top: 9px;
  margin-bottom: 12px;
}

.movieItem img {
  border-radius: 6px;
}

.movieItem .movie-about {
  position: absolute;
  top: 0;
  cursor: pointer;
  padding: 16px;
  opacity: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  height: 338px;
  width: 248px;
  border-radius: 8px;
  color: #F2F2F2;
  transition: 0.15s;
}

.movieItem .movie-about:hover {
  opacity: 1;
  background: rgba(51, 51, 51, 0.8);
}

.genre-item {
  text-align: center;
  width: 280px;
  height: 208px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0.8;
  box-shadow: inset 0px 0px 16px rgba(0, 0, 0, 0.15);
  background-color: #eeee;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.15s;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 24px;
  font-weight: normal;
}

.genre-item span {
  margin-top: 70px;
  font-size: 48px;
  line-height: 57px;
}

.genre-item:hover {
  opacity: 1;
}

.genre-item.comedy {
  background: linear-gradient(136.27deg, #F2C94C 8.44%, #F29A4A 91.36%);
}

.genre-item.dram {
  background: linear-gradient(136.27deg, #F2994A 8.44%, #EB5757 91.36%);
}

.genre-item.fantasy {
  background: linear-gradient(136.27deg, #56CCF2 8.44%, #2F80ED 91.36%);
}

.genre-item.horror {
  background: linear-gradient(136.27deg, #828282 8.44%, #333333 91.36%);
}

.TVchannel-wrapper {
  max-height: 712px;
  overflow-y: scroll;
}

.channelItem {
  display: flex;
  background: #F2F2F2;
  border-radius: 8px;
  margin-bottom: 16px;
  color: #333333;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  min-height: 162px;
}

.channelItem-timetable-red {
  color: #E5261E;
}

.channelItem-timetable h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.channelItem-logo {
  width: 400px;
  text-align: center;
}

.channelItem-logo img {
  margin-top: 47px;
}

footer {
  background-color: #F2F2F2;
  margin-top: 70px;
  color: #333333;
  padding-bottom: 20px
}

.footer-wrapper {
  display: flex;
  padding-top: 22px;
}

 .footer-tel {
  text-decoration: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #333333;
  display: inline-block;
}

.footer-wrapper img {
  margin-right: 40px;
  margin-top: 4px;
}
.site-link {
  text-decoration: none;
  color: #1F4766;
  margin-top: 2px;
}

.ReactModal__Content {
  width: 306px;
  height: 394px;
  font-weight: normal;
  font-size: 16px;
  border-radius: 8px;
}

.modal-window input {

  margin-bottom: 25px;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #828282;
}

.checkbox-item {
  opacity: 0;
}

.checkbox-text {
  position: relative;
  margin-left: -143px;
  padding-left: 28px;
  padding-top: 4px;
}

.checkbox-text::before {
  position: absolute;
  content: "";
  display: inline-block;
  border: 1px solid #333333;
  border-radius: 4px;
  width: 16px;
  height: 16px;
  left: 0px;
  top: 3px;
  cursor: pointer;
  
}

.checkbox-text::after {
  position: absolute;
  display: inline-block;
  color: #E5261E;
  content: "";
  height: 5px;
  width: 13px;
  border-left: 1px solid;
  border-bottom: 1px solid;
  transform: rotate(-45deg);
  left: 2px;
  top: 7px;
    cursor: pointer;

}

input[type="checkbox"]+label::after {
  content: none;
}

input[type="checkbox"]:checked+label::after {
  content: "";
}

form {
  text-align: center;
}

.modal-window button {
  margin-top: 100px;
}

.modal-window h2 {
  margin-top: 36px;
  text-align: center;
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
}

.ReactModal__Body--open {
  overflow: hidden;
}

.user-name {
  width: 100px;
  font-size: 16px;
  margin-left: -49px;
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .container {
    width: 95%;
  }

  .films-items,
  .genres-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: -55px;
    grid-row-gap: 25px;
  }

  .genre-item,
  .movieItem {
    margin: 0 auto;
  }
  input[type="text"],
  input[type="password"] {
    width: 250px;
  }
}

@media only screen and (min-width: 640px) and (max-width: 767px) {
  .container {
    width: 95%;
  }

  .films-items,
  .genres-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 25px;
  }

  .genre-item,
  .movieItem {
    margin: 0 auto;
  }

  .header-wrapper {
    display: block;
    margin-bottom: 48px;
  }

  .login-btn {
    margin-top: 20px;
  }

  .channelItem-logo {
    width: 40%;
    margin-right: -80px;
  }

  .channelItem-logo img {
    display: block;
    margin-left: 45px;
  }
}

@media only screen and (max-width: 639px) {

  .films-items,
  .genres-items {
    display: grid;
    grid-template-columns: 1fr;
  }

  .container {
    width: 95%;
  }

  .modal-window {
    width: 250px;
    height: 340px;
    margin: 0 auto;
  }

  .header-wrapper {
    display: block;
    margin-bottom: 48px;
  }

  .genre-item,
  .movieItem {
    margin: 25px auto;
  }

  .TVchannel-wrapper {
    display: block;
  }

  .channelItem {
    display: block;
    text-align: center;
  }

  .channelItem-logo {
    margin: 0 auto;
    width: 100%;
  }

  .search-wrapper input {
    width: 175px;
    margin: 20px;
  }

  .login-btn {
    margin-left: 15px;
  }
  .search-wrapper {
    margin-left: 0;
  }
}